
.idea/3dplot.iml
.idea/3dplot.iml
.idea/misc.xml
.idea/misc.xml
.ipynb_checkpoints/calib-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
3d_plot.mp4
__pycache__/calib_tools.cpython-38.pyc
calibration_videos/extrinsic_08150951-08151951_cam08150951.avi
calibration_videos/extrinsic_08150951-08151951_cam08151951.avi
calibration_videos/extrinsic_08150951-08152151_cam08150951.avi
calibration_videos/extrinsic_08150951-08152151_cam08152151.avi
calibration_videos/extrinsic_08151951-08152151_cam08151951.avi
calibration_videos/extrinsic_08151951-08152151_cam08152151.avi
calibration_videos/extrinsic_08154551-08150951_cam08150951.avi
calibration_videos/extrinsic_08154551-08150951_cam08154551.avi
calibration_videos/extrinsic_08154551-08151951_cam08151951.avi
calibration_videos/extrinsic_08154551-08151951_cam08154551.avi
calibration_videos/extrinsic_08154551-08152151_cam08152151.avi
calibration_videos/extrinsic_08154551-08152151_cam08154551.avi
calibration_videos/intrinsic_cam08150951.avi
calibration_videos/intrinsic_cam08151951.avi
calibration_videos/intrinsic_cam08152151.avi
calibration_videos/intrinsic_cam08154551.avi
calibration_videos/rectify_cam08150951.avi
calibration_videos/rectify_cam08151951.avi
calibration_videos/rectify_cam08152151.avi
calibration_videos/rectify_cam08154551.avi
calibration_videos/sba_cam08150951.avi
calibration_videos/sba_cam08151951.avi
calibration_videos/sba_cam08152151.avi
calibration_videos/sba_cam08154551.avi
PCA_points_calib/.ipynb_checkpoints/PCA-checkpoint.ipynb
PCA_points_calib/PCA.ipynb
PCA_points_calib/pca_3d_coord.csv
PCA_points_calib/test_frames-0513.csv
PCA_points_calib/test_frames-0513_PCA.csv
saved_videos/3d_plot_merged_video_554/3d_plot1.mp4
saved_videos/3d_plot_merged_video_554/merged.mp4
saved_videos/3d_plot_merged_video_554/test_cam0.mp4
saved_videos/3d_plot_merged_video_554/test_cam1.mp4
saved_videos/3d_plot_merged_video_554/test_cam2.mp4
saved_videos/3d_plot_merged_video_554/test_cam3.mp4
test_cam0_frames-0573.mp4
test_cam1_frames-0573.mp4
test_cam2_frames-0573.mp4
test_cam3_frames-0573.mp4
Coords_old/test_cam0_frames-0573.csv
Coords_old/test_cam1_frames-0573.csv
Coords_old/test_cam2_frames-0573.csv
Coords_old/test_cam3_frames-0573.csv
merged.mp4
merged_1.mp4
h5_file_anipose/test_frames-0513_camA.h5
h5_file_anipose/test_frames-0513_camB.h5
h5_file_anipose/test_frames-0513_camC.h5
h5_file_anipose/test_frames-0513_camD.h5
coords/test_cam0-0554.csv
coords/test_cam0_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
coords/test_cam1-0554.csv
coords/test_cam1_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
coords/test_cam2-0554.csv
coords/test_cam2_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
coords/test_cam3-0554.csv
coords/test_cam3_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
coords/test_cam0-0554.csv
coords/test_cam1-0554.csv
coords/test_cam2-0554.csv
coords/test_cam3-0554.csv
calibration.toml
__pycache__/calib_tools.cpython-38.pyc
__pycache__/calib_tools.cpython-38.pyc
calibration.toml
coords/test_cam0_frames-0573.csv
coords/test_cam1_frames-0573.csv
coords/test_cam2_frames-0573.csv
coords/test_cam3_frames-0573.csv
Coords_old/test_cam0_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam1_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam2_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam3_frames-0573_trial-002_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
merged_sba-2cams.mp4
merged_sba.mp4
saved_frames/dataname_000.png
saved_frames/dataname_001.png
saved_frames/dataname_002.png
saved_frames/dataname_003.png
saved_frames/dataname_004.png
saved_frames/dataname_005.png
saved_frames/dataname_006.png
saved_frames/dataname_007.png
saved_frames/dataname_008.png
saved_frames/dataname_009.png
saved_frames/dataname_010.png
saved_frames/dataname_011.png
saved_frames/dataname_012.png
saved_frames/dataname_013.png
saved_frames/dataname_014.png
saved_frames/dataname_015.png
saved_frames/dataname_016.png
saved_frames/dataname_017.png
saved_frames/dataname_018.png
saved_frames/dataname_019.png
saved_frames/dataname_020.png
saved_frames/dataname_021.png
saved_frames/dataname_022.png
saved_frames/dataname_023.png
saved_frames/dataname_024.png
saved_frames/dataname_025.png
saved_frames/dataname_026.png
saved_frames/dataname_027.png
saved_frames/dataname_028.png
saved_frames/dataname_029.png
saved_frames/dataname_030.png
saved_frames/dataname_031.png
saved_frames/dataname_032.png
saved_frames/dataname_033.png
saved_frames/dataname_034.png
saved_frames/dataname_035.png
saved_frames/dataname_036.png
saved_frames/dataname_037.png
saved_frames/dataname_038.png
saved_frames/dataname_039.png
saved_frames/dataname_040.png
saved_frames/dataname_041.png
saved_frames/dataname_042.png
saved_frames/dataname_043.png
saved_frames/dataname_044.png
saved_frames/dataname_045.png
saved_frames/dataname_046.png
saved_frames/dataname_047.png
saved_frames/dataname_048.png
saved_frames/dataname_049.png
saved_frames/dataname_050.png
saved_frames/dataname_051.png
saved_frames/dataname_052.png
saved_frames/dataname_053.png
saved_frames/dataname_054.png
saved_frames/dataname_055.png
saved_frames/dataname_056.png
saved_frames/dataname_057.png
saved_frames/dataname_058.png
saved_frames/dataname_059.png
saved_frames/dataname_060.png
saved_frames/dataname_061.png
saved_frames/dataname_062.png
saved_frames/dataname_063.png
saved_frames/dataname_064.png
saved_frames/dataname_065.png
saved_frames/dataname_066.png
saved_frames/dataname_067.png
saved_frames/dataname_068.png
saved_frames/dataname_069.png
saved_frames/dataname_070.png
saved_frames/dataname_071.png
saved_frames/dataname_072.png
saved_frames/dataname_073.png
saved_frames/dataname_074.png
saved_frames/dataname_075.png
saved_frames/dataname_076.png
saved_frames/dataname_077.png
saved_frames/dataname_078.png
saved_frames/dataname_079.png
saved_frames/dataname_080.png
saved_frames/dataname_081.png
saved_frames/dataname_082.png
saved_frames/dataname_083.png
saved_frames/dataname_084.png
saved_frames/dataname_085.png
saved_frames/dataname_086.png
saved_frames/dataname_087.png
saved_frames/dataname_088.png
saved_frames/dataname_089.png
saved_frames/dataname_090.png
saved_frames/dataname_091.png
saved_frames/dataname_092.png
saved_frames/dataname_093.png
saved_frames/dataname_094.png
saved_frames/dataname_095.png
saved_frames/dataname_096.png
saved_frames/dataname_097.png
saved_frames/dataname_098.png
saved_frames/dataname_099.png
saved_frames/dataname_100.png
saved_frames/dataname_101.png
saved_frames/dataname_102.png
saved_frames/dataname_103.png
saved_frames/dataname_104.png
saved_frames/dataname_105.png
saved_frames/dataname_106.png
saved_frames/dataname_107.png
saved_frames/dataname_108.png
saved_frames/dataname_109.png
saved_frames/dataname_110.png
saved_frames/dataname_111.png
saved_frames/dataname_112.png
saved_frames/dataname_113.png
saved_frames/dataname_114.png
saved_frames/dataname_115.png
saved_frames/dataname_116.png
saved_frames/dataname_117.png
saved_frames/dataname_118.png
saved_frames/dataname_119.png
saved_frames/dataname_120.png
saved_frames/dataname_121.png
saved_frames/dataname_122.png
saved_frames/dataname_123.png
saved_frames/dataname_124.png
saved_frames/dataname_125.png
saved_frames/dataname_126.png
saved_frames/dataname_127.png
saved_frames/dataname_128.png
saved_frames/dataname_129.png
saved_frames/dataname_130.png
saved_frames/dataname_131.png
saved_frames/dataname_132.png
saved_frames/dataname_133.png
saved_frames/dataname_134.png
saved_frames/dataname_135.png
saved_frames/dataname_136.png
saved_frames/dataname_137.png
saved_frames/dataname_138.png
saved_frames/dataname_139.png
saved_frames/dataname_140.png
saved_frames/dataname_141.png
saved_frames/dataname_142.png
saved_frames/dataname_143.png
saved_frames/dataname_144.png
saved_frames/dataname_145.png
saved_frames/dataname_146.png
saved_frames/dataname_147.png
saved_frames/dataname_148.png
saved_frames/dataname_149.png
saved_frames/dataname_150.png
saved_frames/dataname_151.png
saved_frames/dataname_152.png
saved_frames/dataname_153.png
saved_frames/dataname_154.png
saved_frames/dataname_155.png
saved_frames/dataname_156.png
saved_frames/dataname_157.png
saved_frames/dataname_158.png
saved_frames/dataname_159.png
saved_frames/dataname_160.png
saved_frames/dataname_161.png
saved_frames/dataname_162.png
saved_frames/dataname_163.png
saved_frames/dataname_164.png
saved_frames/dataname_165.png
saved_frames/dataname_166.png
saved_frames/dataname_167.png
saved_frames/dataname_168.png
saved_frames/dataname_169.png
saved_frames/dataname_170.png
saved_frames/dataname_171.png
saved_frames/dataname_172.png
saved_frames/dataname_173.png
saved_frames/dataname_174.png
saved_frames/dataname_175.png
saved_frames/dataname_176.png
saved_frames/dataname_177.png
saved_frames/dataname_178.png
saved_frames/dataname_179.png
saved_frames/dataname_180.png
saved_frames/dataname_181.png
saved_frames/dataname_182.png
saved_frames/dataname_183.png
saved_frames/dataname_184.png
saved_frames/dataname_185.png
saved_frames/dataname_186.png
saved_frames/dataname_187.png
saved_frames/dataname_188.png
saved_frames/dataname_189.png
saved_frames/dataname_190.png
saved_frames/dataname_191.png
saved_frames/dataname_192.png
saved_frames/dataname_193.png
saved_frames/dataname_194.png
saved_frames/dataname_195.png
saved_frames/dataname_196.png
saved_frames/dataname_197.png
saved_frames/dataname_198.png
saved_frames/dataname_199.png
saved_frames/dataname_200.png
saved_frames/dataname_201.png
saved_frames/dataname_202.png
saved_frames/dataname_203.png
saved_frames/dataname_204.png
saved_frames/dataname_205.png
saved_frames/dataname_206.png
saved_frames/dataname_207.png
saved_frames/dataname_208.png
saved_frames/dataname_209.png
saved_frames/dataname_210.png
saved_frames/dataname_211.png
saved_frames/dataname_212.png
saved_frames/dataname_213.png
saved_frames/dataname_214.png
saved_frames/dataname_215.png
saved_frames/dataname_216.png
saved_frames/dataname_217.png
saved_frames/dataname_218.png
saved_frames/dataname_219.png
saved_frames/dataname_220.png
saved_frames/dataname_221.png
saved_frames/dataname_222.png
saved_frames/dataname_223.png
saved_frames/dataname_224.png
saved_frames/dataname_225.png
saved_frames/dataname_226.png
saved_frames/dataname_227.png
saved_frames/dataname_228.png
saved_frames/dataname_229.png
saved_frames/dataname_230.png
saved_frames/dataname_231.png
saved_frames/dataname_232.png
saved_frames/dataname_233.png
saved_frames/dataname_234.png
saved_frames/dataname_235.png
saved_frames/dataname_236.png
saved_frames/dataname_237.png
saved_frames/dataname_238.png
saved_frames/dataname_239.png
saved_frames/dataname_240.png
saved_frames/dataname_241.png
saved_frames/dataname_242.png
saved_frames/dataname_243.png
saved_frames/dataname_244.png
saved_frames/dataname_245.png
saved_frames/dataname_246.png
saved_frames/dataname_247.png
saved_frames/dataname_248.png
saved_frames/dataname_249.png
saved_frames/dataname_250.png
saved_frames/dataname_251.png
saved_frames/dataname_252.png
saved_frames/dataname_253.png
saved_frames/dataname_254.png
saved_frames/dataname_255.png
saved_frames/dataname_256.png
saved_frames/dataname_257.png
saved_frames/dataname_258.png
saved_frames/dataname_259.png
saved_frames/dataname_260.png
saved_frames/dataname_261.png
saved_frames/dataname_262.png
saved_frames/dataname_263.png
saved_frames/dataname_264.png
saved_frames/dataname_265.png
saved_frames/dataname_266.png
saved_frames/dataname_267.png
saved_frames/dataname_268.png
saved_frames/dataname_269.png
saved_frames/dataname_270.png
saved_frames/dataname_271.png
saved_frames/dataname_272.png
saved_frames/dataname_273.png
saved_frames/dataname_274.png
saved_frames/dataname_275.png
saved_frames/dataname_276.png
saved_frames/dataname_277.png
saved_frames/dataname_278.png
saved_frames/dataname_279.png
saved_frames/dataname_280.png
saved_frames/dataname_281.png
saved_frames/dataname_282.png
saved_frames/dataname_283.png
saved_frames/dataname_284.png
saved_frames/dataname_285.png
saved_frames/dataname_286.png
saved_frames/dataname_287.png
saved_frames/dataname_288.png
saved_frames/dataname_289.png
saved_frames/dataname_290.png
saved_frames/dataname_291.png
saved_frames/dataname_292.png
saved_frames/dataname_293.png
saved_frames/dataname_294.png
saved_frames/dataname_295.png
saved_frames/dataname_296.png
saved_frames/dataname_297.png
saved_frames/dataname_298.png
saved_frames/dataname_299.png
saved_frames/dataname_300.png
saved_frames/dataname_301.png
saved_frames/dataname_302.png
saved_frames/dataname_303.png
saved_frames/dataname_304.png
saved_frames/dataname_305.png
saved_frames/dataname_306.png
saved_frames/dataname_307.png
saved_frames/dataname_308.png
saved_frames/dataname_309.png
saved_frames/dataname_310.png
saved_frames/dataname_311.png
saved_frames/dataname_312.png
saved_frames/dataname_313.png
saved_frames/dataname_314.png
saved_frames/dataname_315.png
saved_frames/dataname_316.png
saved_frames/dataname_317.png
saved_frames/dataname_318.png
saved_frames/dataname_319.png
saved_frames/dataname_320.png
saved_frames/dataname_321.png
saved_frames/dataname_322.png
saved_frames/dataname_323.png
saved_frames/dataname_324.png
saved_frames/dataname_325.png
saved_frames/dataname_326.png
saved_frames/dataname_327.png
saved_frames/dataname_328.png
saved_frames/dataname_329.png
saved_frames/dataname_330.png
saved_frames/dataname_331.png
saved_frames/dataname_332.png
saved_frames/dataname_333.png
saved_frames/dataname_334.png
saved_frames/dataname_335.png
saved_frames/dataname_336.png
saved_frames/dataname_337.png
saved_frames/dataname_338.png
saved_frames/dataname_339.png
saved_frames/dataname_340.png
saved_frames/dataname_341.png
saved_frames/dataname_342.png
saved_frames/dataname_343.png
saved_frames/dataname_344.png
saved_frames/dataname_345.png
saved_frames/dataname_346.png
saved_frames/dataname_347.png
saved_frames/dataname_348.png
saved_frames/dataname_349.png
saved_frames/dataname_350.png
saved_frames/dataname_351.png
saved_frames/dataname_352.png
saved_frames/dataname_353.png
saved_frames/dataname_354.png
saved_frames/dataname_355.png
saved_frames/dataname_356.png
saved_frames/dataname_357.png
saved_frames/dataname_358.png
saved_frames/dataname_359.png
saved_frames/dataname_360.png
saved_frames/dataname_361.png
saved_frames/dataname_362.png
saved_frames/dataname_363.png
saved_frames/dataname_364.png
saved_frames/dataname_365.png
saved_frames/dataname_366.png
saved_frames/dataname_367.png
saved_frames/dataname_368.png
saved_frames/dataname_369.png
saved_frames/dataname_370.png
saved_frames/dataname_371.png
saved_frames/dataname_372.png
saved_frames/dataname_373.png
saved_frames/dataname_374.png
saved_frames/dataname_375.png
saved_frames/dataname_376.png
saved_frames/dataname_377.png
saved_frames/dataname_378.png
saved_frames/dataname_379.png
saved_frames/dataname_380.png
saved_frames/dataname_381.png
saved_frames/dataname_382.png
saved_frames/dataname_383.png
saved_frames/dataname_384.png
saved_frames/dataname_385.png
saved_frames/dataname_386.png
saved_frames/dataname_387.png
saved_frames/dataname_388.png
saved_frames/dataname_389.png
saved_frames/dataname_390.png
saved_frames/dataname_391.png
saved_frames/dataname_392.png
saved_frames/dataname_393.png
saved_frames/dataname_394.png
saved_frames/dataname_395.png
saved_frames/dataname_396.png
saved_frames/dataname_397.png
saved_frames/dataname_398.png
saved_frames/dataname_399.png
saved_frames/dataname_400.png
saved_frames/dataname_401.png
saved_frames/dataname_402.png
saved_frames/dataname_403.png
saved_frames/dataname_404.png
saved_frames/dataname_405.png
saved_frames/dataname_406.png
saved_frames/dataname_407.png
saved_frames/dataname_408.png
saved_frames/dataname_409.png
saved_frames/dataname_410.png
saved_frames/dataname_411.png
saved_frames/dataname_412.png
saved_frames/dataname_413.png
saved_frames/dataname_414.png
saved_frames/dataname_415.png
saved_frames/dataname_416.png
saved_frames/dataname_417.png
saved_frames/dataname_418.png
saved_frames/dataname_419.png
saved_frames/dataname_420.png
saved_frames/dataname_421.png
saved_frames/dataname_422.png
saved_frames/dataname_423.png
saved_frames/dataname_424.png
saved_frames/dataname_425.png
saved_frames/dataname_426.png
saved_frames/dataname_427.png
saved_frames/dataname_428.png
saved_frames/dataname_429.png
saved_frames/dataname_430.png
saved_frames/dataname_431.png
saved_frames/dataname_432.png
saved_frames/dataname_433.png
saved_frames/dataname_434.png
saved_frames/dataname_435.png
saved_frames/dataname_436.png
saved_frames/dataname_437.png
saved_frames/dataname_438.png
saved_frames/dataname_439.png
saved_frames/dataname_440.png
saved_frames/dataname_441.png
saved_frames/dataname_442.png
saved_frames/dataname_443.png
saved_frames/dataname_444.png
saved_frames/dataname_445.png
saved_frames/dataname_446.png
saved_frames/dataname_447.png
saved_frames/dataname_448.png
saved_frames/dataname_449.png
saved_frames/dataname_450.png
saved_frames/dataname_451.png
saved_frames/dataname_452.png
saved_frames/dataname_453.png
saved_frames/dataname_454.png
saved_frames/dataname_455.png
saved_frames/dataname_456.png
saved_frames/dataname_457.png
saved_frames/dataname_458.png
saved_frames/dataname_459.png
saved_frames/dataname_460.png
saved_frames/dataname_461.png
saved_frames/dataname_462.png
saved_frames/dataname_463.png
saved_frames/dataname_464.png
saved_frames/dataname_465.png
saved_frames/dataname_466.png
saved_frames/dataname_467.png
saved_frames/dataname_468.png
saved_frames/dataname_469.png
saved_frames/dataname_470.png
saved_frames/dataname_471.png
saved_frames/dataname_472.png
saved_frames/dataname_473.png
saved_frames/dataname_474.png
saved_frames/dataname_475.png
saved_frames/dataname_476.png
saved_frames/dataname_477.png
saved_frames/dataname_478.png
saved_frames/dataname_479.png
saved_frames/dataname_480.png
saved_frames/dataname_481.png
saved_frames/dataname_482.png
saved_frames/dataname_483.png
saved_frames/dataname_484.png
saved_frames/dataname_485.png
saved_frames/dataname_486.png
saved_frames/dataname_487.png
saved_frames/dataname_488.png
saved_frames/dataname_489.png
saved_frames/dataname_490.png
saved_frames/dataname_491.png
saved_frames/dataname_492.png
saved_frames/dataname_493.png
saved_frames/dataname_494.png
saved_frames/dataname_495.png
saved_frames/dataname_496.png
saved_frames/dataname_497.png
saved_frames/dataname_498.png
saved_frames/dataname_499.png
saved_frames/dataname_500.png
saved_frames/dataname_501.png
saved_frames/dataname_502.png
saved_frames/dataname_503.png
saved_frames/dataname_504.png
saved_frames/dataname_505.png
saved_frames/dataname_506.png
saved_frames/dataname_507.png
saved_frames/dataname_508.png
saved_frames/dataname_509.png
saved_frames/dataname_510.png
saved_frames/dataname_511.png
saved_frames/dataname_512.png
saved_frames/dataname_513.png
saved_frames/dataname_514.png
saved_frames/dataname_515.png
saved_frames/dataname_516.png
saved_frames/dataname_517.png
saved_frames/dataname_518.png
saved_frames/dataname_519.png
saved_frames/dataname_520.png
saved_frames/dataname_521.png
saved_frames/dataname_522.png
saved_frames/dataname_523.png
saved_frames/dataname_524.png
saved_frames/dataname_525.png
saved_frames/dataname_526.png
saved_frames/dataname_527.png
saved_frames/dataname_528.png
saved_frames/dataname_529.png
saved_frames/dataname_530.png
saved_frames/dataname_531.png
saved_frames/dataname_532.png
saved_frames/dataname_533.png
saved_frames/dataname_534.png
saved_frames/dataname_535.png
saved_frames/dataname_536.png
saved_frames/dataname_537.png
saved_frames/dataname_538.png
saved_frames/dataname_539.png
saved_frames/dataname_540.png
saved_frames/dataname_541.png
saved_frames/dataname_542.png
saved_frames/dataname_543.png
saved_frames/dataname_544.png
saved_frames/dataname_545.png
saved_frames/dataname_546.png
saved_frames/dataname_547.png
saved_frames/dataname_548.png
saved_frames/dataname_549.png
saved_frames/dataname_550.png
saved_frames/dataname_551.png
saved_frames/dataname_552.png
saved_frames/dataname_553.png
saved_frames/dataname_554.png
saved_frames/dataname_555.png
saved_frames/dataname_556.png
saved_frames/dataname_557.png
saved_frames/dataname_558.png
saved_frames/dataname_559.png
saved_frames/dataname_560.png
saved_frames/dataname_561.png
saved_frames/dataname_562.png
saved_frames/dataname_563.png
saved_frames/dataname_564.png
saved_frames/dataname_565.png
saved_frames/dataname_566.png
saved_frames/dataname_567.png
saved_frames/dataname_568.png
saved_frames/dataname_569.png
saved_frames/dataname_570.png
saved_frames/dataname_571.png
saved_frames/dataname_572.png
video-sba-2cams.avi
video-sba-3cams.avi
video.avi
3d_plot_sba_filtered.mp4
x.png
y.png
z.png
video_10.avi
video_1000.avi
video_513_angle1_old.avi
video_513_angle2_old.avi
video_554_angle1.avi
video_554_angle2.avi
video_573_angle1.avi
video_573_angle2.avi
video_with_KF.avi
video_without_KF.avi
videos_dlc/test_cam0_frames-0513.mp4
videos_dlc/test_cam0_frames-0554.mp4
videos_dlc/test_cam1_frames-0513.mp4
videos_dlc/test_cam1_frames-0554.mp4
videos_dlc/test_cam2_frames-0513.mp4
videos_dlc/test_cam2_frames-0554.mp4
videos_dlc/test_cam3_frames-0513.mp4
videos_dlc/test_cam3_frames-0554.mp4
3d_coordinates.csv
coordinates_filtered_y.png
coords/test_cam0_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
coords/test_cam1_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
coords/test_cam2_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
coords/test_cam3_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam0_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam0_frames-0554_trial-007_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam1_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam1_frames-0554_trial-007_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam2_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam2_frames-0554_trial-007_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam3_frames-0513_trial-000_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
Coords_old/test_cam3_frames-0554_trial-007_20220328_105032DLC_resnet50_HandMotionCaptureMar28shuffle1_100000_filtered.csv
merged_513.mp4
merged_554.mp4
merged_573.mp4
kalman_coordinates.csv
params/old params/extrinsic_params.pickle
params/old params/extrinsic_params_old.pickle
params/old params/extrinsic_sba_params.pickle
params/old params/extrinsic_sba_params_old.pickle
params/old params/intrinsic_params.pickle
params/old params/intrinsic_params_old.pickle
params/old params/rectify_params.pickle
params/old params/sba_data.pickle
params/old params/sba_params_new.pickle
params/extrinsic_params.pickle
params/extrinsic_params.pickle
*.csv
*.avi
*.mp4
*.pyc
*.pyc
