
.idea/3dplot.iml
.idea/3dplot.iml
.idea/misc.xml
.idea/misc.xml
.ipynb_checkpoints/calib-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
3d_plot.mp4
__pycache__/calib_tools.cpython-38.pyc
calibration_videos/extrinsic_08150951-08151951_cam08150951.avi
calibration_videos/extrinsic_08150951-08151951_cam08151951.avi
calibration_videos/extrinsic_08150951-08152151_cam08150951.avi
calibration_videos/extrinsic_08150951-08152151_cam08152151.avi
calibration_videos/extrinsic_08151951-08152151_cam08151951.avi
calibration_videos/extrinsic_08151951-08152151_cam08152151.avi
calibration_videos/extrinsic_08154551-08150951_cam08150951.avi
calibration_videos/extrinsic_08154551-08150951_cam08154551.avi
calibration_videos/extrinsic_08154551-08151951_cam08151951.avi
calibration_videos/extrinsic_08154551-08151951_cam08154551.avi
calibration_videos/extrinsic_08154551-08152151_cam08152151.avi
calibration_videos/extrinsic_08154551-08152151_cam08154551.avi
calibration_videos/intrinsic_cam08150951.avi
calibration_videos/intrinsic_cam08151951.avi
calibration_videos/intrinsic_cam08152151.avi
calibration_videos/intrinsic_cam08154551.avi
calibration_videos/rectify_cam08150951.avi
calibration_videos/rectify_cam08151951.avi
calibration_videos/rectify_cam08152151.avi
calibration_videos/rectify_cam08154551.avi
calibration_videos/sba_cam08150951.avi
calibration_videos/sba_cam08151951.avi
calibration_videos/sba_cam08152151.avi
calibration_videos/sba_cam08154551.avi
PCA_points_calib/.ipynb_checkpoints/PCA-checkpoint.ipynb
PCA_points_calib/PCA.ipynb
PCA_points_calib/pca_3d_coord.csv
PCA_points_calib/test_frames-0513.csv
PCA_points_calib/test_frames-0513_PCA.csv
saved_videos/3d_plot_merged_video_554/3d_plot1.mp4
saved_videos/3d_plot_merged_video_554/merged.mp4
saved_videos/3d_plot_merged_video_554/test_cam0.mp4
saved_videos/3d_plot_merged_video_554/test_cam1.mp4
saved_videos/3d_plot_merged_video_554/test_cam2.mp4
saved_videos/3d_plot_merged_video_554/test_cam3.mp4
test_cam0_frames-0573.mp4
test_cam1_frames-0573.mp4
test_cam2_frames-0573.mp4
test_cam3_frames-0573.mp4
Coords_old/test_cam0_frames-0573.csv
Coords_old/test_cam1_frames-0573.csv
Coords_old/test_cam2_frames-0573.csv
Coords_old/test_cam3_frames-0573.csv
merged.mp4
merged_1.mp4
h5_file_anipose/test_frames-0513_camA.h5
h5_file_anipose/test_frames-0513_camB.h5
h5_file_anipose/test_frames-0513_camC.h5
h5_file_anipose/test_frames-0513_camD.h5
calibration.toml
__pycache__/calib_tools.cpython-38.pyc
__pycache__/calib_tools.cpython-38.pyc
calibration.toml
merged_sba-2cams.mp4
merged_sba.mp4
video-sba-2cams.avi
video-sba-3cams.avi
video.avi
3d_plot_sba_filtered.mp4
x.png
y.png
z.png
video_10.avi
video_1000.avi
video_513_angle1_old.avi
video_513_angle2_old.avi
video_554_angle1.avi
video_554_angle2.avi
video_573_angle1.avi
video_573_angle2.avi
video_with_KF.avi
video_without_KF.avi
videos_dlc/test_cam0_frames-0513.mp4
videos_dlc/test_cam0_frames-0554.mp4
videos_dlc/test_cam1_frames-0513.mp4
videos_dlc/test_cam1_frames-0554.mp4
videos_dlc/test_cam2_frames-0513.mp4
videos_dlc/test_cam2_frames-0554.mp4
videos_dlc/test_cam3_frames-0513.mp4
videos_dlc/test_cam3_frames-0554.mp4
coordinates_filtered_y.png
merged_513.mp4
merged_554.mp4
merged_573.mp4
kalman_coordinates.csv
params/old params/extrinsic_params.pickle
params/old params/extrinsic_params_old.pickle
params/old params/extrinsic_sba_params.pickle
params/old params/extrinsic_sba_params_old.pickle
params/old params/intrinsic_params.pickle
params/old params/intrinsic_params_old.pickle
params/old params/rectify_params.pickle
params/old params/sba_data.pickle
params/old params/sba_params_new.pickle
params/extrinsic_params.pickle
params/extrinsic_params.pickle
*.csv
*.avi
*.mp4
*.pyc
*.pyc
.ipynb_checkpoints/kalman_filter-checkpoint.ipynb
.ipynb_checkpoints/low_pass_filter-checkpoint.ipynb
.ipynb_checkpoints/optim-checkpoint.ipynb
*.png
